.btn {
    background: $color-black;
    border: 1px solid $color-white;
    color: $color-white;
    white-space: nowrap;

    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    transition: all .5s ease;    
    
    &:hover {
        color: $color-black;
        background: $color-white;
        border: 1px solid $color-black;
        box-shadow: 0 0 0 0.05rem $color-white;
    }
}